:root {
	--primary-color: #fff7b2;
	--secondary-color: #bccbf4;
	--tertiary-color: #ffd8f4;
	--quaternary-color: #c0e2bc;
	--title-font:  'Poiret One', cursive;
	--copy-font:  'Poiret One', cursive;
}
